<div class="publication container">
  <div class="main">
    <div class="info">
      <%= title 'El sur: instrucciones de uso' %>
      <p>Por <%= link_to 'Autoediciones Bucólicas', '#' %></p>
    </div>
    <div class="buy">
      <a href="https://tinypay.me/~UGJ5Rbk" style="display:inline-block;"><img src="https://s3.amazonaws.com/img.tinypay.me/btn/UGJ5Rbk" border="0"/></a>
    </div>
    <div class="controls">
      <a href="/pdf/El-sur.pdf">
        <%= image_tag 'ui/play_big.png', alt: 'Descargar PDF completo', width: 47, height: 45 %>
        <div class="length">110 páginas</div>
      </a>
    </div>
    <div class="content">
      <p>La luz del sur. El buen calor. La cerveza.</p>

      <p>12 Relatos de Silvia Nanclares<br/>
        12 Collages de Enrique Lafuente<br/>
        Prólogo de Carolina León</p>
    </div>

    <ul class="links">
      <li>&rArr;&nbsp;<%= link_to 'Comprar edición impresa', 'http://tinypay.me/~UGJ5Rbk' %> 11€</li>
      <li>&rArr;&nbsp;<%= link_to 'Descargar PDF completo', '/pdf/El-sur.pdf' %> Gratuíto</li>
    </ul>

    <div class="chapters list">
      <h2>Índice</h2>
      <% @chapters.each do |name, file| %>
          <div class="chapter item">
            <a href="/capitulos/<%= file %>.pdf">
              <%= image_tag 'ui/play.png', alt: 'Descargar PDF del capítulo', width: 17, height: 17 %>
              <%= name %>
            </a>
          </div>
      <% end %>
    </div>




    <div class="licenses">
      <%= image_tag 'licencias/CC-BY-SA-icon-80x15.png' %>
    </div>

  </div>
  <div class="cover">
    <%= link_to '/remezclas', class: 'remix' do %>
      <%= image_tag 'elsur/portada.jpg', width: '259', height: '400' %>
      <span>remezclas</span>
    <% end %>
  </div>
</div>
